Repository MikhailKravchenko/Universal-infrastructure-template: changes, and which GitLab CI jobs are due for each by the changed paths.
All: release-helm, release-monitoring-helm

release-helm:
  stage: release
  image: alpine/helm:latest
  script:
  - cd momo-store-chart
  - helm dependency update
  - helm package . --version "0.1.3-pipeline${CI_PIPELINE_ID}"
  - curl -L -u $HELM_REPO_USERNAME:$HELM_REPO_PASSWORD $NEXUS_HELM_REPO --upload-file momo-store-*.tgz

release-monitoring-helm:
  stage: release
  image: alpine/helm:latest
  script:
  - cd monitoring-chart
  - helm dependency update
  - helm package . --version "0.1.0-pipeline${CI_PIPELINE_ID}"
  - curl -L -u $HELM_REPO_USERNAME:$HELM_REPO_PASSWORD $NEXUS_HELM_MONITORING_REPO --upload-file monitoring-*.tgz

health check
  kubernetes/backend/deployment.yaml
  kubernetes/backend/ingress.yaml
  kubernetes/ingress-nginx-nodeport.yaml
  momo-store-chart/charts/backend/templates/deployment.yaml
  momo-store-chart/charts/backend/templates/ingress.yaml
  momo-store-chart/charts/backend/values.yaml
  momo-store-chart/values.yaml
  monitoring-chart/charts/grafana/Chart.yaml
  monitoring-chart/charts/grafana/templates/datasource.yaml
  monitoring-chart/charts/grafana/templates/deployment.yaml
  monitoring-chart/charts/grafana/templates/pvc.yaml
  monitoring-chart/charts/grafana/templates/services.yaml
  monitoring-chart/charts/grafana/values.yaml
  monitoring-chart/charts/loki/Chart.yaml
  monitoring-chart/charts/loki/templates/configmap.yaml
  monitoring-chart/charts/loki/templates/deployment.yaml
  monitoring-chart/charts/loki/templates/pvc.yaml
  monitoring-chart/charts/loki/templates/services.yaml
  monitoring-chart/charts/loki/values.yaml
  monitoring-chart/charts/prometheus/Chart.yaml
  monitoring-chart/charts/prometheus/templates/clusterrole.yaml
  monitoring-chart/charts/prometheus/templates/clusterrolebinding.yaml
  monitoring-chart/charts/prometheus/templates/configmap.yaml
  monitoring-chart/charts/prometheus/templates/deployment.yaml
  monitoring-chart/charts/prometheus/templates/pvc.yaml
  monitoring-chart/charts/prometheus/templates/rules.yaml
  monitoring-chart/charts/prometheus/templates/serviceaccount.yaml
  monitoring-chart/charts/prometheus/templates/services.yaml
  monitoring-chart/charts/prometheus/values.yaml
Due: release-helm, release-monitoring-helm

Cleanup
  kubernetes/backend/ingress.yaml
  kubernetes/ingress-nginx-nodeport.yaml
  momo-store-chart/charts/backend/templates/ingress.yaml
  momo-store-chart/charts/frontend/templates/configmap.yaml
  monitoring-chart/charts/grafana/Chart.yaml
  monitoring-chart/charts/grafana/templates/datasource.yaml
  monitoring-chart/charts/grafana/templates/deployment.yaml
  monitoring-chart/charts/grafana/templates/pvc.yaml
  monitoring-chart/charts/grafana/templates/services.yaml
  monitoring-chart/charts/grafana/values.yaml
  monitoring-chart/charts/loki/Chart.yaml
  monitoring-chart/charts/loki/templates/configmap.yaml
  monitoring-chart/charts/loki/templates/deployment.yaml
  monitoring-chart/charts/loki/templates/pvc.yaml
  monitoring-chart/charts/loki/templates/services.yaml
  monitoring-chart/charts/loki/values.yaml
  monitoring-chart/charts/prometheus/Chart.yaml
  monitoring-chart/charts/prometheus/templates/clusterrole.yaml
  monitoring-chart/charts/prometheus/templates/clusterrolebinding.yaml
  monitoring-chart/charts/prometheus/templates/configmap.yaml
  monitoring-chart/charts/prometheus/templates/deployment.yaml
  monitoring-chart/charts/prometheus/templates/pvc.yaml
  monitoring-chart/charts/prometheus/templates/rules.yaml
  monitoring-chart/charts/prometheus/templates/serviceaccount.yaml
  monitoring-chart/charts/prometheus/templates/services.yaml
  monitoring-chart/charts/prometheus/values.yaml
Due: release-helm, release-monitoring-helm

Update manifest Argo Ingress
  terraform/ansible/manifests/argocd-nodeport.yaml
  terraform/ansible/manifests/ingress-nginx-nodeport.yaml
  terraform/ansible/rke2-install.yml
Due: none

Momo Store
  momo-store-chart/charts/backend/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: release-helm

Disable NAT
  terraform/modules/tf-yc-instance/main.tf
Due: none

Add initial project files including EditorConfig, CHANGELOG, CONTRIBUTING, LICENSE, and SECURITY documentation
  .editorconfig
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
Due: none

Add Helm linting and validation stage in GitLab CI, introduce Makefile for infrastructure tasks, and enhance application configurations
  .gitlab-ci.yml
  Makefile
  README.md
  app-chart/Chart.lock
  app-chart/charts/backend/templates/hpa.yaml
  app-chart/charts/backend/templates/pdb.yaml
  app-chart/charts/backend/values.yaml
  app-chart/charts/frontend/templates/hpa.yaml
  app-chart/charts/frontend/templates/pdb.yaml
  app-chart/charts/frontend/values.yaml
  app-chart/values-production.yaml
  app-chart/values.yaml
  docs/runbook.md
  monitoring-chart/Chart.lock
  monitoring-chart/Chart.yaml
  monitoring-chart/charts/alertmanager/Chart.yaml
  monitoring-chart/charts/alertmanager/templates/configmap.yaml
  monitoring-chart/charts/alertmanager/templates/deployment.yaml
  monitoring-chart/charts/alertmanager/templates/service.yaml
  monitoring-chart/charts/alertmanager/values.yaml
  monitoring-chart/charts/prometheus/templates/configmap.yaml
  monitoring-chart/charts/prometheus/values.yaml
  monitoring-chart/values.yaml
  terraform/terraform.tfvars.example
Due: release-monitoring-helm

Add cluster scaling section to README.md
  README.md
Due: none

Rename directory in README.md from 'momo-infrastructure' to 'app-infrastructure' for clarity and consistency.
  README.md
Due: none

Remove license section from README.md for clarity and conciseness.
  README.md
Due: none

Path conditions:
  release-helm: any of: momo-store-chart/**/*
  release-monitoring-helm: any of: monitoring-chart/**/*
